<section class="todoapp">
  <header class="header">
    <h1>login!</h1>
    <%=form_tag(sessions_path) do%>
      <%=text_field_tag :email, '', :class => "new-todo", :placeholder => "login with your email"%>
      <%=text_field_tag :password, '', :class => "new-todo", :placeholder => "and password"%>
      <%=submit_tag "login"%>
    <%end%>
    <%=link_to "Login via GitHub", "/auth/github"%> <br>
    <%=link_to "Login via Facebook", "/auth/facebook"%>

  </header>
  <footer class="footer">
  </footer>
</section>
<!--  -->
