<!DOCTYPE html>
<html>
  <head>
    <title>TodoMvcLv</title>

    <!--  application.css is loaded and calls other sheets used, for example: *=require 'lists'-->

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <section id="todoapp">
      <p style="text-align: center; font-size: 14px"><%= notice %></p>

      <%= yield %>
    </section>
    <footer id="info">
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
  </body>
</html>
